.card-title {
  display: flex;

  width: 50%;
  height: 50px;
  border: 1px solid black;
}
.card-like {
  display: flex;
  width: 60px;
  height: 50px;
  border: 1px solid black;
}
/* 중앙정렬 */
.card-read {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.flexContainer {
  margin-bottom: 150px;
  width: 100%;
  display: flex;
}
.card-user {
  display: flex;
  width: 60px;
  height: 50px;
  border: 1px solid black;
}
.card-container {
  flex-grow: 1;
  width: 50%;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: left; */
  overflow: auto;
}

.cards {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  display: flex;
  height: 50px;
  width: 550px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.card-image {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.cards:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.flex-warp {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 1220px) {
  .card {
    flex: 0 0 40%;
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    height: 300px;

    flex: 0 40%;
  }
}
@media screen and (max-width: 649px) {
  .card {
    flex: 50%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    height: 300px;
    margin-left: 15px;
    flex: 0 100%;
  }
}
