* {
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: aliceblue;
}

a:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

.icons {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.close {
  margin-top: 50px;
  font-size: 40px;
  height: 80px;
  color: aliceblue;
}
.menu-bars {
  margin-left: 30px;
  display: none;
  font-size: 50px;
  padding-bottom: 50px;
}
.nav-menu-items {
  font-size: 20px;
}

.nav-menu {
  background-color: black;
  width: 100%;
  height: 100vh;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 200ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  height: 100vh;
  z-index: 9999;
}
.nav-pad-1 {
  margin: 0;
  display: flex;
}
.nav-text {
  height: 100px;

  margin-left: 50px;
  margin-right: 50px;
}

.nav-text :hover {
  color: wheat;
}

.nav-menu-items {
  width: 100%;
}
.nav-toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
}
.span {
  margin-left: 16px;
}
hr {
  padding-right: 50px;
}
#navbar {
  width: 100%;
  position: fixed;
  z-index: 2000;
  background-color: black;

  height: 80px;
}
.Logo-name {
  position: absolute;
  font-size: 50px;
}

.nav-list {
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 150px;
  display: flex;
  width: 400px;
}

.nav-selector {
  display: flex;
  text-align: center;
  margin-left: 30px;
}
.nav-userinfo-service a {
  padding-left: 20px;
}

.padding {
  background-color: white;
  height: 80px;
}
.GearLog {
  height: 100%;
  width: 100%;
}
.brand-names {
  margin-left: 30px;
  border-top: 4px solid #cb6ce6;
  font-size: 20px;
  height: 20px;
  width: 80px;
  z-index: 0;
  color: aliceblue;
}
.brand-cover {
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 30px;
  border-bottom: blanchedalmond;
}

.brand-name {
  background-color: black;
}

.intros {
  width: 100%;
  padding-bottom: 0;
}

.door {
  width: 100%;
}
.slider {
  background-color: black;
}
.slide {
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  background-color: black;
  padding-bottom: 150px;
  justify-content: center;
}

.slick-slide {
  display: inline-block;
}

.slide-prev {
  color: aliceblue;
  font-size: 50px;
  justify-content: center;
  margin-top: 40px;

  left: 1%;

  position: absolute;

  z-index: 1;
}

.slide-next {
  color: aliceblue;
  font-size: 50px;
  position: absolute;
  right: 1%;
  margin-top: 40px;
  margin-bottom: 50px;
  z-index: 1;
}

.spon {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
h1 {
  background-color: white;
  color: black;
}
/*Auth page*/
.Auth {
  text-align: center;
  background-color: white;
  display: flex;
}
.AuthPage {
  background-color: blanchedalmond;

  width: 100%;
}
.AuthPage-1 {
  top: 30%;
  background-color: white;
  width: 100vh;
  height: 100%;
}
.AuthPage-2 {
  height: 100%;
  background-color: white;
  width: 100%;
}

.email {
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 40%;
  padding: 15px;
  color: black;
}
.password {
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 40%;
  padding: 15px;
  color: black;
}

.register-2 {
  margin-top: 10%;
  margin-left: 15%;

  background-color: white;
  margin-bottom: 15%;
  width: 70%;
}

.socialtag {
  color: darkgray;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}
.social {
  margin-top: 20px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
.socialB {
  background-color: white;
}
.socialBt {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.socialBt:hover {
  cursor: pointer;
}

.type-selector {
  background-color: white;
  width: 100%;
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.type-selector-1 {
  width: 170px;
  color: tomato;
  background-color: white;
}
.type-selector-2 {
  color: tomato;
  background-color: white;
}
.type-selector-3 {
  margin-top: 15px;
  color: tomato;
  background-color: white;
}
.type-selector-slash {
  width: 25px;
  background-color: white;
  color: black;
}
.hamburgur {
  display: none;
  margin-left: 30px;
}
.loginButton {
  border: none;
  background-color: #cb6ce6;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 40%;
  padding: 15px;
}
.board-list {
  color: black;
}
@media screen and (max-width: 768px) {
  .email {
    width: 70%;
  }
  .password {
    width: 70%;
  }
  .loginButton {
    width: 70%;
  }
  .AuthPage-1 {
    width: 812%;
  }
  .Logo-name {
    left: 37%;
    font-size: 30px;
  }
  .nav-pad-1 {
    display: none;
  }
  .menu-bars {
    font-size: 20px;
    display: block;
    z-index: 9999;
  }
  .nav-menu.active {
    left: 0;
    transition: 100ms;
    height: 100vh;
    z-index: 9999;
  }
  .icons {
    display: none;
  }
}
