.grandfather {
}

.dmaincontainer {
  margin-top: 20px;
  height: 320px;
  display: flex;
  width: 360px;
}

.dTeam-Header {
  display: flex;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: #5a8dff;
}
.dboxs {
  padding: 10px;
  background-color: white;
  width: 100%;
  display: flex;
}
.dthecard {
  position: absolute;
  margin-bottom: 15px;
  flex-grow: 1;
  width: 350px;
  height: 350px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.dthecard:hover {
  transform: rotateY(180deg);
}

.dthefront {
  display: flex;

  position: absolute;

  font-size: 70px;
  font-weight: 900;
  width: 350px;
  height: 350px;
  backface-visibility: hidden;
  background: #5a8dff;
  color: white;
}
.duser-gear {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}
.duser-name {
  color: black;
  font-size: 40px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dtheback {
  position: absolute;
  text-align: center;
  font-weight: 900;
  padding: 20px;
  width: 350px;
  height: 350px;
  backface-visibility: hidden;
  background-color: rgba(220, 209, 209, 0.605);

  transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
  .dboxs {
    flex-direction: column;
  }
  .dmaincontainer {
    height: 365px;
    display: flex;
    width: 360px;
  }
}
