.grandfather {
}

.maincontainer {
  margin-top: 20px;
  height: 320px;
  display: flex;
  width: 360px;
}

.Team-Header {
  display: flex;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
}

.boxs {
  padding: 10px;
  background-color: black;
  width: 100%;
  display: flex;
}
.thecard {
  position: absolute;
  margin-bottom: 15px;
  flex-grow: 1;
  width: 350px;
  height: 350px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  display: flex;

  position: absolute;
  font-size: 70px;
  font-weight: 900;
  width: 350px;
  height: 350px;
  backface-visibility: hidden;
  background: white;
  color: #e2062d;
}
.user-gear {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}
.user-name {
  color: #e2062d;
  font-size: 40px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thefront-g {
  display: flex;

  position: absolute;
  font-size: 60px;
  font-weight: 900;
  width: 350px;
  height: 350px;
  backface-visibility: hidden;
  background: white;
  color: #e2062d;
}

.theback {
  position: absolute;
  text-align: center;
  font-weight: 900;
  padding: 20px;
  width: 350px;
  height: 350px;
  backface-visibility: hidden;
  background-color: #fafafa;
  color: #333;
  transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
  .boxs {
    flex-direction: column;
  }
  .maincontainer {
    height: 365px;
    display: flex;
    width: 360px;
  }
}
