.Footer {
  display: flex;
  width: 100%;
  color: white;
  background-color: black;
  border-top: 1px solid gray;
  height: 70vh;
}
.footer-left {
  padding: 30px;
  font-size: 25px;
  border-right: 1px solid gray;
  font-weight: 600;
}

.footer-right {
  font-size: 25px;
  width: 40%;
  margin: 30px;
  display: flex;
  font-weight: 400;
}

.footer-log {
  width: 300px;
}

@media screen and (max-width: 375px) {
  .Footer {
    flex-direction: column;
  }
}

.member-1 {
  margin: 15px;
}

.member-2 {
  margin: 15px;
}

.member-3 {
  margin: 15px;
}

.member-4 {
  margin: 15px;
}
